@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Terminal Aesthetic */
body {
  background-color: #000000;
  color: #00ff00; /* Retro Terminal Green */
  font-family: 'Courier New', Courier, monospace;
}